<!DOCTYPE html>
<html>
<style>
  body{background: red; font-family: courier; color:#fff; padding: 30px;}
  h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
  p{font-size: 16px; text-align: center;}
</style>
<head>
</head>
<body>
  <h1> Welcome to student profile of <%=studentProfile%></h1>
  <p> <%=studentProfile%> says hi</p>
  <p> <strong>His age is <%=data.age%></strong></p>
  <p> <strong>His job is <%=data.job%></strong></p>
</body>
</html>
